body {
    background-color: black;
}

#icon {
    width: 80px
}

#title {
    display: block;
    margin: auto;
    padding: 10px;
    width: 300px

}

.quote {
    color: white;
    font-style: italic;
    text-align: center;
}



/* Card css */

.card {
    width: 40%;
}
