body {
    background-image: url(https://i.imgur.com/Rci8mW8.png?1);
    background-color: black;
}

#icon {
    width: 80px
}

#title {
    display: block;
    margin: auto;
    padding: 10px;
    width: 300px

}

.quote {
    color: white;
    font-style: italic;
    text-align: center;
}



/* Card css */

.card-content {
    background-color: black;
}
/* .card {
    width: 30%;
} */

.series {
    color: white;
    /* text-align: center; */
}

.book-order { 
    color: white;
    /* text-align: center; */
}

/* .book-image {
    width: 100px;
    display: block;
    margin: auto;
} */


