body {
    background-image: url(https://i.imgur.com/f3B6pfD.png?1);
    background-color: black;
    background-repeat: no-repeat;   
}

#icon {
    width: 75px;
}

#title {
    display: block;
    margin: auto;
    padding-top: 20px;
    width: 300px
}

#quote-cite {
    padding-bottom: 20px
}

#quote-line {
    transition: all 1s;
}

.quote {
    color: white;
    cursor: pointer;
    font-style: italic;
    text-align: center;
}


/* Card*/

.card-content {
    background-color: black;
    width: 130%;
}

.card {
    background-color: black;
    width: 70%;
}

.series {
    color: white;
    font-size:larger;
    text-align: center;
}

.book-order { 
    color: rgb(164, 164, 164);
    text-align: center;  
}

.book-image {
    width: 200px;
    display: block;
    margin: auto;
    align-content: center;
}


